html {
  font-size: 16px;
}

body { 
  background-color: #282c34;
}

.Game {
  text-align: center;
  height: 100vh;
}

.Game__dashboard {
  display: flex;
  margin: 1em 0.25em;
}

.Game__section {
  display: inline-block;
  margin: 0 0.25em;
}

.Game-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3em;
  flex-wrap: wrap;
}

@media only screen and (min-width: 768px) {
  .Game__dashboard {
    width: 50%;
    margin: 1em auto;
    align-items: center;
  }

  .Game__section {
    width: 50%;
    margin: 0 auto;
  }
}