html {
  font-size: 16px;
}

.Game {
  text-align: center;
  background-color: #282c34;
  height: 100vh;
}

.Game__dashboard {
  display: flex;
  min-height: 20vh;
  width: 50%;
  margin: 0 auto;
  align-items: center;
}

.Game__section {
  display: inline-block;
  width: 50%;
  margin: 0 auto;
}

.Game-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3em;
  flex-wrap: wrap;
}
