html {
  font-size: 16px;
}

.Game {
  text-align: center;
  background-color: #282c34;
}

.Game__dashboard {
  display: flex;
  min-height: 20vh;
  width: 50%;
  margin: 0 auto;
}

.Game__section {
  min-height: 80vh;
}

.Game-top {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 3em;
  height: 20vh;
}

.Game-stockAndWaste {
  display: flex;
}

.Game-Foundation {
  display: flex;
}

.Game-Tableau {
  display: flex;
  justify-content: space-between;
  width: 50%;
  height: 80vh;
  margin: 0 auto;
}