html {
  font-size: 16px;
}

.Game {
  text-align: center;
  background-color: #282c34;
}

.Game-top {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-bottom: 3em;
}

.Game-stockAndWaste {
  display: flex;
}

.Game-Foundation {
  display: flex;
}

.Game-Tableau {
  display: flex;
  justify-content: space-between;
  width: 80%;
  height: 100vh;
}